In [152]:
# Import Dependencies
import pandas as pd

In [150]:
# Upload CSV Downloaded From GVA.org
children_killed = "Resources/Children_Killed.csv"
children_df = pd.read_csv(children_killed)
children_df

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,2322582,"June 6, 2022",Ohio,Cleveland,Donald Ave and E 77th St,1,0,NaN
1,2322231,"June 5, 2022",California,Baldwin Park,Merced Ave and Palm Ave,2,0,NaN
2,2321188,"June 4, 2022",Michigan,Detroit,20200 block of Goulburn Ave,1,0,NaN
3,2317117,"May 31, 2022",Michigan,Wyoming,2118 Godfrey Avenue SW,4,0,NaN
4,2316814,"May 30, 2022",Alabama,Mobile,1300 block of Duval St,1,0,NaN
...,...,...,...,...,...,...,...,...
1832,491046,"July 17, 2013",California,Oakland,3400 block of Wilson Avenue,1,3,NaN
1833,490245,"July 1, 2013",Texas,Fort Worth,2900 block of Pate Drive,4,0,NaN
1834,485811,"April 24, 2013",Illinois,Manchester,East Street,6,1,NaN
1835,479363,"January 19, 2013",New Mexico,Albuquerque,2806 Long Lane,5,0,NaN
1836,1119336,"December 14, 2012",Connecticut,Sandy Hook,12 Dickenson Dr,28,2,NaN

In [151]:
# Drop Operations Column With All Null Values
children_df = children_df.drop(['Operations'], axis=1)

# Format The Date To mm/dd/yyyy
children_df['Incident Date'] = children_df['Incident Date'].str.strip().str.replace(' ','')
children_df['Incident Date'] = children_df['Incident Date'].str.strip().str.replace('January','01/')
children_df['Incident Date'] = children_df['Incident Date'].str.strip().str.replace('February','02/')
children_df['Incident Date'] = children_df['Incident Date'].str.strip().str.replace('March','03/')
children_df['Incident Date'] = children_df['Incident Date'].str.strip().str.replace('April','04/')
children_df['Incident Date'] = children_df['Incident Date'].str.strip().str.replace('May','05/')
children_df['Incident Date'] = children_df['Incident Date'].str.strip().str.replace('June','06/')
children_df['Incident Date'] = children_df['Incident Date'].str.strip().str.replace('July','07/')
children_df['Incident Date'] = children_df['Incident Date'].str.strip().str.replace('August','08/')
children_df['Incident Date'] = children_df['Incident Date'].str.strip().str.replace('September','09/')
children_df['Incident Date'] = children_df['Incident Date'].str.strip().str.replace('October','10/')
children_df['Incident Date'] = children_df['Incident Date'].str.strip().str.replace('November','11/')
children_df['Incident Date'] = children_df['Incident Date'].str.strip().str.replace('December','12/')
children_df['Incident Date'] = children_df['Incident Date'].str.strip().str.replace(',','/')

# Target Incident Date Column And Select Rows That Have 2022
Children_2022 = children_df.loc[children_df['Incident Date'].str.contains('2022')]

# Final DataFrame
Children_2022

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured
0,2322582,06/6/2022,Ohio,Cleveland,Donald Ave and E 77th St,1,0
1,2322231,06/5/2022,California,Baldwin Park,Merced Ave and Palm Ave,2,0
2,2321188,06/4/2022,Michigan,Detroit,20200 block of Goulburn Ave,1,0
3,2317117,05/31/2022,Michigan,Wyoming,2118 Godfrey Avenue SW,4,0
4,2316814,05/30/2022,Alabama,Mobile,1300 block of Duval St,1,0
...,...,...,...,...,...,...,...
124,2205638,01/6/2022,Maryland,Clinton,8500 block of Wendy St,2,1
125,2205490,01/6/2022,Alabama,Tuscaloosa,8700 block of Charolais Dr,3,0
126,2210967,01/5/2022,Oklahoma,Lawton,8802 NW Cache Rd,2,0
127,2205965,01/5/2022,Mississippi,Starkville,Santa Anita Dr,1,0
128,2204367,01/4/2022,Washington,Auburn,2100 block of 66th St SE,3,0

In [130]:
# Upload 2022 Mass Shootings Table From Wikipedia Website
url = 'https://en.wikipedia.org/wiki/List_of_mass_shootings_in_the_United_States_in_2022'

tables = pd.read_html(url)

tables

[     2022 date            City           State    Dead Injured  Total  \
 0       June 7   Baltimore (7)        Maryland       2       2      4
 1       June 7      Portsmouth        Virginia       3       1      4
 2       June 6  Salt Lake City            Utah       1       3      4
 3       June 5         Andrews  South Carolina       0       4      4
 4       June 5         Saginaw        Michigan       3       2      5
 ..         ...             ...             ...     ...     ...    ...
 282  JanuaryÂ 1          Auburn         Georgia  1[n 3]       3      4
 283  JanuaryÂ 1         Kenosha       Wisconsin       1       3      4
 284  JanuaryÂ 1      South Bend         Indiana       0       4      4
 285  JanuaryÂ 1          Denver        Colorado       2       2      4
 286  JanuaryÂ 1        Columbia        Missouri       0       4      4

                                            Description
 0    Four men sitting in the side yard of a house i...
 1    Three people were killed and another injured i...
 2    Four people were shot, one of them fatally, at...
 3    Four people were injured in a drive-by shootin...
 4    Three people were killed and two were wounded ...
 ..                                                 ...
 282  After officers were dispatched to respond to a...
 283  A man was killed, and three others wounded, in...
 284  Four people were wounded at a shooting at a Ne...
 285  Two adults were killed, and two wounded, in an...
 286  Four adults were wounded in the early morning ...

 [287 rows x 7 columns],
            Month Mass shootings Total number dead (including the shooters)  \
 0        January             41                                         59
 1       February             43                                         40
 2          March             52                                         47
 3          April             66                                         75
 4            May             67                                         87
 5           June            NaN                                        NaN
 6           July            NaN                                        NaN
 7         August            NaN                                        NaN
 8      September            NaN                                        NaN
 9        October            NaN                                        NaN
 10      November            NaN                                        NaN
 11      December            NaN                                        NaN
 12         Total            NaN                                        NaN
 13  Source:[309]   Source:[309]                               Source:[309]

    Total number wounded (including the shooters)  \
 0                                            128
 1                                            174
 2                                            217
 3                                            271
 4                                            324
 5                                            NaN
 6                                            NaN
 7                                            NaN
 8                                            NaN
 9                                            NaN
 10                                           NaN
 11                                           NaN
 12                                           NaN
 13                                  Source:[309]

    Occurred at a school or university Occurred at a place of worship
 0                                   0                              0
 1                                   1                              1
 2                                   0                              0
 3                                   1                              0
 4                                   1                              1
 5                                 NaN                            NaN
 6                                 NaN                            NaN
 7                                 NaN                            NaN
 8                                 NaN                            NaN
 9                                 NaN                            NaN
 10                                NaN                            NaN
 11                                NaN                            NaN
 12                                NaN                            NaN
 13                       Source:[309]                   Source:[309]  ,
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteMass shootings in the United States  \
 0                                               List
 1                           Related terms and topics

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteMass shootings in the United States.1
 0    20th century 2000â€“2009 2018 2019 2020 2021 2022
 1  Active shooter Gun violence in the United Stat...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ]

In [148]:
# Select Relevant Table
Mass_Shootings = pd.DataFrame(tables[0])

# Rename Column
Mass_Shootings = Mass_Shootings.rename(columns = {'2022 date': 'Incident Date'})

# Format The Date To mm/dd/yyyy
Mass_Shootings['Incident Date'] = Mass_Shootings['Incident Date'].str.strip().str.replace(' ','')
Mass_Shootings['Incident Date'] = Mass_Shootings['Incident Date'].str.strip().str.replace('January','01/')
Mass_Shootings['Incident Date'] = Mass_Shootings['Incident Date'].str.strip().str.replace('February','02/')
Mass_Shootings['Incident Date'] = Mass_Shootings['Incident Date'].str.strip().str.replace('March','03/')
Mass_Shootings['Incident Date'] = Mass_Shootings['Incident Date'].str.strip().str.replace('April','04/')
Mass_Shootings['Incident Date'] = Mass_Shootings['Incident Date'].str.strip().str.replace('May','05/')
Mass_Shootings['Incident Date'] = Mass_Shootings['Incident Date'].str.strip().str.replace('June','06/')
Mass_Shootings['Incident Date'] = Mass_Shootings['Incident Date'].str.strip().str.replace('July','07/')
Mass_Shootings['Incident Date'] = Mass_Shootings['Incident Date'].str.strip().str.replace('August','08/')
Mass_Shootings['Incident Date'] = Mass_Shootings['Incident Date'].str.strip().str.replace('September','09/')
Mass_Shootings['Incident Date'] = Mass_Shootings['Incident Date'].str.strip().str.replace('October','10/')
Mass_Shootings['Incident Date'] = Mass_Shootings['Incident Date'].str.strip().str.replace('November','11/')
Mass_Shootings['Incident Date'] = Mass_Shootings['Incident Date'].str.strip().str.replace('December','12/')
Mass_Shootings['Incident Date'] = Mass_Shootings['Incident Date'].str.strip().str.replace(',','/')

# Add Year To End of Date Column To Match Format Of Children_2022 DataFrame
Mass_Shootings_2022['Incident Date'] = Mass_Shootings_2022['Incident Date'].astype(str) + '/2022'

#Final Dataframe
Mass_Shootings_2022

,Incident Date,City,State,Dead,Injured,Total,Description
0,06/7/2022,Baltimore (7),Maryland,2,2,4,Four men sitting in the side yard of a house i...
1,06/7/2022,Portsmouth,Virginia,3,1,4,Three people were killed and another injured i...
2,06/6/2022,Salt Lake City,Utah,1,3,4,"Four people were shot, one of them fatally, at..."
3,06/5/2022,Andrews,South Carolina,0,4,4,Four people were injured in a drive-by shootin...
4,06/5/2022,Saginaw,Michigan,3,2,5,Three people were killed and two were wounded ...
...,...,...,...,...,...,...,...
282,01/Â 1/2022,Auburn,Georgia,1[n 3],3,4,After officers were dispatched to respond to a...
283,01/Â 1/2022,Kenosha,Wisconsin,1,3,4,"A man was killed, and three others wounded, in..."
284,01/Â 1/2022,South Bend,Indiana,0,4,4,Four people were wounded at a shooting at a Ne...
285,01/Â 1/2022,Denver,Colorado,2,2,4,"Two adults were killed, and two wounded, in an..."
286,01/Â 1/2022,Columbia,Missouri,0,4,4,Four adults were wounded in the early morning ...